<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004838099027-9n1ojis1celb96p8treo8uqq56jfq5dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004838099027-9n1ojis1celb96p8treo8uqq56jfq5dm</string>
	<key>API_KEY</key>
	<string>AIzaSyBc9bc_LrA-XeJD0fJV2M7sjy-DIZyEiSo</string>
	<key>GCM_SENDER_ID</key>
	<string>1004838099027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbdemo03</string>
	<key>PROJECT_ID</key>
	<string>class03demo</string>
	<key>STORAGE_BUCKET</key>
	<string>class03demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004838099027:ios:3bc55381a7891023518ea6</string>
	<key>DATABASE_URL</key>
	<string>https://class03demo.firebaseio.com</string>
</dict>
</plist>